.col-1 {
  width: 8.33333%; }

.col-2 {
  width: 16.66667%; }

.col-3 {
  width: 25%; }

.col-4 {
  width: 33.33333%; }

.col-5 {
  width: 41.66667%; }

.col-6 {
  width: 50%; }

.col-7 {
  width: 58.33333%; }

.col-8 {
  width: 66.66667%; }

.col-9 {
  width: 75%; }

.col-10 {
  width: 83.33333%; }

.col-11 {
  width: 91.66667%; }

.col-12 {
  width: 100%; }

.offset-1 {
  margin-left: 8.33333%; }

.offset-2 {
  margin-left: 16.66667%; }

.offset-3 {
  margin-left: 25%; }

.offset-4 {
  margin-left: 33.33333%; }

.offset-5 {
  margin-left: 41.66667%; }

.offset-6 {
  margin-left: 50%; }

.offset-7 {
  margin-left: 58.33333%; }

.offset-8 {
  margin-left: 66.66667%; }

.offset-9 {
  margin-left: 75%; }

.offset-10 {
  margin-left: 83.33333%; }

.offset-11 {
  margin-left: 91.66667%; }

.offset-12 {
  margin-left: 100%; }

* {
  border-sizing: border-box;
  margin: 0;
  padding: 0; }

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0px auto; }

.row:before, .row:after {
  content: " ";
  display: table; }
.row:after {
  clear: both; }

[class*="col-"] {
  min-height: 7px;
  /*padding: 8px;*/
  float: left; }

[class*="offset-"] {
  min-height: 7px;
  /*padding: 32px;*/
  float: left; }

body {
  background-color: #DF7401;
  font-family: "Source Sans Pro", sans-serif; }

#seccion-header {
  background-color: #FFFF00;
  -webkit-box-shadow: 4px 4px 13px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 4px 13px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 4px 4px 13px -1px rgba(0, 0, 0, 0.75); }
  #seccion-header .menu {
    margin: 2% 3%; }
    #seccion-header .menu__item {
      text-decoration: none;
      color: #000000;
      font-weight: bold; }
      #seccion-header .menu__item--focus {
        color: #FF4000;
        text-decoration: none; }

.logo {
  width: 65px;
  height: 65px; }

.cont {
  display: flex;
  flex-direction: row;
  align-content: space-around; }

nav {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center; }

#seccion-pandas {
  width: 100%;
  justify-content: space-around;
  margin-top: 30px; }

.pandas {
  width: 100%;
  height: 100%;
  border: 2px solid #000000; }

.container-image {
  display: inline-block;
  width: 18%;
  height: 100%;
  background-color: #F2F2F2;
  padding: 2px 20px 20px 20px;
  border-radius: 8px 8px 20px 8px;
  -moz-border-radius: 8px 8px 20px 8px;
  -webkit-border-radius: 8px 8px 20px 8px;
  border: 3px dotted #6E6E6E;
  -webkit-box-shadow: 4px 4px 13px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 4px 13px -5px rgba(0, 0, 0, 0.75);
  box-shadow: 4px 4px 13px -5px rgba(0, 0, 0, 0.75);
  margin: 0px 15px 0px 15px; }

#botones {
  display: inline-block;
  width: 100%;
  padding: 40px; }
  #botones .boton {
    width: 220px;
    height: 50px;
    background-color: #C8FE2E;
    font-size: 16px;
    color: black;
    border-radius: 8px 8px 20px 8px;
    -moz-border-radius: 8px 8px 20px 8px;
    -webkit-border-radius: 8px 8px 20px 8px;
    border: 3px dotted #6E6E6E;
    -webkit-box-shadow: 4px 4px 13px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 4px 4px 13px -5px rgba(0, 0, 0, 0.75);
    box-shadow: 4px 4px 13px -5px rgba(0, 0, 0, 0.75); }
    #botones .boton--focus {
      background-color: #80FF00; }
  #botones button:hover {
    background-color: #F7FE2E; }

p {
  width: 45%;
  display: inline-block;
  text-align: justify;
  margin: 2%; }

footer {
  height: 75px;
  background-color: #FFFF00;
  -webkit-box-shadow: 4px 4px 13px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 4px 13px -5px rgba(0, 0, 0, 0.75);
  box-shadow: 4px 4px 13px -5px rgba(0, 0, 0, 0.75); }
  footer div p {
    margin-left: 300px;
    text-align: center; }

/*# sourceMappingURL=style.css.map */
