$fondo: #DF7401;
$limon: #C8FE2E;
$amarillo-nav: #FFFF00;
$hover-btn: #F7FE2E;
$borde: #000000;
$contorno: #6E6E6E;
$marco: #F2F2F2;
$select: #FF4000;
$focus-btn: #80FF00;
$fuente: 'Source Sans Pro', sans-serif;