@import "_variables";
@import "_funciones-grid";
@import "_mixins";


*{
    border-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container{
    width: 100%;
    max-width: 1200px;
    margin: 0px auto;
}
.row{
    &:before{
        content: " ";
        display: table;
    }
    &:after{
        @extend .row:before;
        clear: both;
    }
}
[class*="col-"]{
    min-height: 7px;
    /*padding: 8px;*/
    float: left;
}

[class*="offset-"]{
    min-height: 7px;
    /*padding: 32px;*/
    float: left;
}


body{
  background-color: $fondo;
  font-family: $fuente;
}

#seccion-header{
  background-color: $amarillo-nav;
  -webkit-box-shadow: 4px 4px 13px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 4px 4px 13px -1px rgba(0,0,0,0.75);
  box-shadow: 4px 4px 13px -1px rgba(0,0,0,0.75);
  .menu{
    margin:2% 3%;
    &__item{
      text-decoration: none;
      color:$borde;
      font-weight: bold;
      &--focus{
        color:$select;
        text-decoration: none;
      }
    }
  }

}

.logo{
  width: 65px;
  height: 65px;
}

.cont{
  display: flex;
  flex-direction: row;
  align-content:space-around;
}


nav{
  width:50%;
  display:flex;
  justify-content: space-around;
  align-items: center;
}


#seccion-pandas{
width: 100%;
justify-content: space-around;
margin-top: 30px;
}

.pandas{
  width: 100%;
  height: 100%;
  border: 2px solid $borde;
}

.container-image{
  @include estilo__imagen;
}

#botones{
  display: inline-block;
  width: 100%;
  padding:40px;
    .boton{
      @include estilo__boton;
    
    &--focus{
      background-color: $focus-btn;
    }
  }

    button:hover{
     background-color: $hover-btn;
    }
}








p{
  width: 45%;
  display: inline-block;
  text-align: justify;
  margin:2%;
}

 
footer{
  height: 75px;
  background-color: $amarillo-nav;
  -webkit-box-shadow: 4px 4px 13px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: 4px 4px 13px -5px rgba(0,0,0,0.75);
  box-shadow: 4px 4px 13px -5px rgba(0,0,0,0.75);

  div{
    p{
      margin-left: 300px;
      text-align: center;
    }
  }
  
}
